<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title><%- title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/build.css?version=<%- version %>" />
<link rel="stylesheet" href="/vendor1.css?version=<%- vendor_version %>" />
<link rel="stylesheet" href="/vendor2.css?version=<%- vendor_version %>" />
<link rel="icon" href="<%- icon %>" id="acc-favicon">
</head>
<body>
<div id="react-root"><%- markup %></div>
<script src="/main.js?version=<%- version %>"></script>
<script src="/vendor.js?version=<%- vendor_version %>"></script>
</body>
</html>